
		h1 {
			color: white;
			background-color: darkblue;
			border: 2px solid bisque;
			border-radius: 20px 20px;
			text-align: center;
			
		}
		h2 {
			color: bisque;
			position: sticky;
			top: 20px;
			border: 3px solid bisque;
			padding: 5px 5px;
			text-align: center;
		}
		body {
			background-color: sienna;
			color: white;
			text-align: center;
		}
		nav {
			position: fixed;
			top: 0;
			bottom: 0;
			width: 120px;
		}
		a {
			color: orange;
		}
		a:hover{
			color: white;
		}
		a:visited{
			color: brown;
		}
		a:active{
			text-shadow: 2px 2px 5px gold;
		}
		main {
			position: absolute;
			top: 0;
			left: 150px;
		}
		nav ul li {
		    list-style: none;
		}
		img {
				width: 50%;
 				display: block;
  				margin-left: auto;
  				margin-right: auto;
			}
		footer {
				border: 3px solid bisque;
				padding: 15px 15px;
			}
	@media (max-width: 768px) {
		nav {
			position: absolute;
			top: 5px;
			left: 0;
			width: 100%;
		    height: 150px;
			overflow: scroll;
			border: 3px solid bisque;
		}
			nav:before{
				content: "Navigation Menu";
				background-color: navy;
				color: white;
				font-size: 1.5rem;
				text-align: center;
				width: 100%;
				display: block;
			}
			main {
				position: absolute;
				top: 180px;
				left: 0;
			}
			h2 {
			color: bisque;
			position: sticky;
			top: 20px;
			border: 3px solid bisque;
			padding: 5px 5px;
			text-align: center;
		}
		
}
	@media (max-width: 480px) {
			body {
				position: absolute;
				top: 180px;
				text-align: center;
			}
			img {
				width: 100%;
 				display: block;
  				margin-left: auto;
  				margin-right: auto;
			}
		}

/* CSS Document */

